html, body, #content {
	width: 1920px;
}

#content {
  background-color: #1D1F21;
  min-height: 1080px; 
}

p {
  position: absolute;
}

p:active {
  animation-name: blackToWhite;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
